

.s_title{
    font-size: 3vw;
}

.title {
    /* font-size: 750% ; */
    font-size: 9vw;
  }



/* Nav-links*/

  a.nav-link:link {
    text-decoration: none;
  }

  a.nav-link:visited {
    text-decoration: none;
  }

  a.nav-link:hover {
    text-decoration: underline;
    background-color: whitesmoke;
  }

  a.nav-link:active {
    text-decoration: underline;
  }

  .logo:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  }

/* Album */
div.album_1:hover {
    border: 1px solid #777;
    padding-bottom: 5px;
    border-radius: 10px;
  }

  button.btn:hover {
    background-color: whitesmoke;
    color: blue;
    box-shadow: 3px 3px 3px #aaaaaa;
  }

/* Donate */
  a.btn:hover{
    color: blue;
  }

/* Features */
.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
  }

  .card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }

 
.card {
    border: 5px;
}

.card-text {
    text-align: left;
}

/* Blog 2 */
  .blog_2 {
    background : rgba(37, 36, 36, 0.5);
    border: 1px solid black;
  }


  /* Featurettes */
.featurette:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}


.cause-summary-section {
    width: 100vw;
    position: relative;
    left: calc(50% - 50vw);
    color: #333;
    font-family: 'proxima-nova';
    background-color: #f2f2f2;
}

.content-wrap-font {
    font-size: 20px;
    font-weight: 400;
    font-family: proxima-nova,sans-serif;
}


.custom-container {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.newsletter,
.custom-container,
.newsletter-description,
.newsletter-title {
    text-align: center;
}

.newsletter {
    background-color: #333;
    padding: 30px 0;
    color: #fff;
    font-family: proxima-nova;
    width: 100vw;
    position: relative;
    left: calc(50% - 50vw);  
}
 


.n-form-wrap {
    width: 40%;
    margin-top: 15px;
    min-width: 400px;
    text-align: center;
}


.sub-heading-title {
    font-size: 40px;
    font-weight: 600;
}

.heading-title,
.sub-heading-title {
    font-family: proxima-nova, sans-serif;
}

.text-muted {
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color)!important;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}




/* Animals Section */
.homepage .homepage-section .explore-nonprofits .explore-org-item-wrapper .explore-org-item .explore-org-info .explore-org-view-profile-button-wrapper {
    text-align: center;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
}

/*Index.html Cover*/

.fade-bg {
    position: sticky;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    left: 0;
    top: 0;
}