.cause-summary-section {
    width: 100vw;
    position: relative;
    left: calc(50% - 50vw);
    color: #333;
    font-family: 'proxima-nova';
    background-color: #f2f2f2;
}

.text-muted {
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color)!important;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}